# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
*.egg
*.env
*.env.test
*.venv
env/
venv/
ENV/
env.bak/
venv.bak/
*.swp

# Virtual environments
.venv/
venv/
env/
ENV/

# IDEs
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Docker
docker-compose.override.yml
*.dockerignore
*.env
*.pid
*.sock

# Elasticsearch

.es/


# Pytest cache
.pytest_cache/
.coverage
nosetests.xml
coverage.xml
*.cover

# MyPy cache
.mypy_cache/
.dmypy.json

# Redis dump / temp files
dump.rdb
*.rdb
*.aof

# Misc
*.bak
*.tmp


/data
/etl
taskfull