TEST_PROJECT_NAME=your-project-name
TEST_REDIS_HOST=your-redis-host
TEST_REDIS_PORT=your-redis-port
TEST_ELASTIC_HOST=your-es-host
TEST_ELASTIC_PORT=your-es-port
TEST_ELASTIC_INDEX=your-es-index
TEST_ELASTIC_ID_FIELD=your-es-id-field
TEST_API_HOST=your-api-host
TEST_API_PORT=your-api-port
TEST_API_HEALTH_ENDPOINT=your-api-health-endpoint(better use api/openapi)


