# Project
PROJECT_NAME=your-project-name

# Redis
REDIS_HOST=your-redis-host
REDIS_PORT=your-redis-port

# Elasticsearch
ELASTIC_HOST=your-elastic-host
ELASTIC_PORT=your-elastic-port
ELASTIC_INDEX=your-elastic-index
ELASTIC_ID_FIELD=your-elastic-id-field

# API
API_HOST=your-api-host
API_PORT=your-api-port
API_HEALTH_ENDPOINT=your-api-health-endpoint

# Tracing
TRACING_ENABLED=False   # set to true if you want Jaeger/OTEL traces
OTEL_TRACES_EXPORTER=none

# JWT / JWKS
DISABLE_JWKS_REFRESHER=True   # set false to enable JWKS refresher

# Testing
TESTING=True
