# ===============================
# PostgreSQL (тестовый)
# ===============================
DB_USER=your-user
DB_PASSWORD=your-password
DB_HOST=your-db-host
DB_PORT=5432
DB_NAME=your-db-name

# ===============================
# Redis (тестовый)
# ===============================
REDIS_HOST=your-redis-host
REDIS_PORT=6379

# ===============================
# JWT настройки
# ===============================
JWT_ALGORITHM=RS256
JWT_PRIVATE_KEY_PATH=keys/jwtRS256.key
JWT_PUBLIC_KEY_PATH=keys/jwtRS256.key.pub

# ===============================
# OAuth (тестовый, можно dummy)
# ===============================
YANDEX_CLIENT_ID=dummy
YANDEX_CLIENT_SECRET=dummy
YANDEX_REDIRECT_URI=http://test/oauth/yandex/callback

GOOGLE_CLIENT_ID=dummy
GOOGLE_CLIENT_SECRET=dummy
GOOGLE_REDIRECT_URI=http://test/oauth/google/callback

# ===============================
# Флаг для тестов
# ===============================
TESTING=1

# ===============================
# PYTHONPATH (для корректного импорта)
# ===============================
PYTHONPATH=/app/src:/app
