# ===============================
# PostgreSQL (тестовый)
# ===============================
TEST_DB_USER=your-user
TEST_DB_PASSWORD=your-password
TEST_DB_HOST=your-db-host
TEST_DB_PORT=your-db-port
TEST_DB_NAME=your-db-name

# ===============================
# Redis (тестовый)
# ===============================
TEST_REDIS_HOST=your-redis-host
TEST_REDIS_PORT=your-redis-port

# ===============================
# Флаг для тестов
# ===============================
TESTING=1 (флаг для тестов)

# ===============================
# PYTHONPATH (для корректного импорта)
# ===============================
PYTHONPATH=(/app/src:/app) your-python-path