# Project
PROJECT_NAME=your-project-name

# Redis
REDIS_HOST=your-redis-host
REDIS_PORT=your-redis-port

# Elasticsearch
ELASTIC_HOST=your-elastic-host
ELASTIC_PORT=your-elastic-port
ELASTIC_INDEX=your-elastic-index
ELASTIC_ID_FIELD=your-elastic-id-field
